.cat{
    display: flex;
    /* justify-content: center; */
    padding: 20px;
    /* text-decoration: underline; */
    /* color: black; */
    flex-flow: column;
}

.cat h3{
    align-self: center;
}

.cat a{
    /* color: black; */
    width: 140px;
}







.acat{
    
    display: flex;
    justify-content: center;
    
}

.acat-form{
    font-size: 20px;
    border: 2px solid gray;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    width: 400px;
    margin: 25px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(163, 163, 163, 0.237);
}



