
.log-img{
    width:100vw;
    height: 100vh;
    position:absolute;
    z-index: -1;
}
    



.Login{
    display: flex;
    /* flex-flow: column; */
    justify-content: center;
    /* align-items: center; */
    
}
.Login form{
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(1, 25, 75, 0.422);
    margin-top: 25vh;
    padding: 30px;
    width: 37vw;
    color: aliceblue;
}

.Login form input{
    color: black;
}

h2{
    text-align: center;
}

.Login form *{
    padding: 5px;
}





